<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav class="sidenavstyle">
        <mat-list>
            <a href="http://localhost:4200/loggin">
                <mat-list-item>
                    <a>Loggin</a>
                </mat-list-item>
            </a>
            <a href="http://localhost:4200/personajes">
                <mat-list-item>
                    <a>Personajes</a>
                </mat-list-item>
            </a>
            <a href="http://localhost:4200/episodios">
                <mat-list-item>
                    <a>Episodios</a>
                </mat-list-item>
            </a>
            <a href="http://localhost:4200/nosotros">
                <mat-list-item>
                    <a>Acerca de Nosotros</a>
                </mat-list-item>
            </a>
        </mat-list>
        <div class="sideFooter">
            <button mat-icon-button>
                <mat-icon>facebook</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>explore</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>help</mat-icon>
            </button>
            <p>© Copyright 2023</p>
            <p>Rick And Morty Test</p>
        </div>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="./assets/logoRickTransparente.png">
        <span>Rick And Morty Test</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
    <div class="bodyFooter">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</mat-sidenav-container>