mat-list-item:hover {
    background: #a6cccc;
    box-shadow: 0 0 7px #60a85f;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.sideFooter {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
}

.sideFooter p {
    margin: 0 !important;
}

mat-sidenav-container.mat-drawer-container.mat-sidenav-container {
    background-color: #a6cccc;
}

mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row {
    background-color: #6b7132;
    box-shadow: 0 0 7px black;
    position: fixed;
    z-index: 1;
}

.example-spacer {
    flex: 1 1 auto;
}

img {
    width: 2.8em;
    margin: auto;
}

.sidenavstyle {
    background-color: #6b7132;
    color: white;
}

.bodyFooter {
    padding-top: 4.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

mat-list-item {
    color: white !important;
}