.titulo {
    background-color: #6b7132;
    color: white;
    text-align: center;
    padding: 1.5em 0 0.5em 0;
    width: 27%;
    margin: auto;
    border-radius: 0 0 1em 1em;
    box-shadow: 0px 3px 7px #000000cc;
}

.titulo h1 {
    font-size: 3em !important;
}

ul {
    background: #60a85f;
    color: white;
    list-style: none;
    padding: 0.8em 0 0.8em 0;
    border-radius: 1em;
    box-shadow: 0px 0px 11px black;
}

li {
    padding-left: 1em;
    padding-right: 1em;
}