<div class="titulo">
    <h1>Loggin</h1>
</div>
<div class="contenedor">
    <div class="contenedor fondo">
        <form action="">
            <div class="contenedor">
                <mat-form-field class="example-full-width">
                    <mat-label>Introduzca su email</mat-label>
                    <input matInput placeholder="Email" type="email" name="email">
                </mat-form-field>
            </div>
            <div class="contenedor">
                <mat-form-field class="example-full-width">
                    <mat-label>Introduzca su contraseña</mat-label>
                    <input matInput placeholder="Contraseña" type="password" name="password">
                </mat-form-field>
            </div>
            <div class="contenedor">
                <button type="submit" mat-button>Ingresar</button>
            </div>
        </form>
    </div>
</div>