<div class="titulo">
    <h1>Acerca de Nosotros</h1>
</div>
<div class="contenedor">
    <h2>Nuestra historia</h2>
</div>
<div class="contenedor">
    <p>
        La empresa [nombre de la empresa] fue fundada en [año] por [nombre del fundador]. La idea de crear la
        empresa surgió de la pasión de [nombre del fundador] por [industria o sector]. Desde su fundación, la empresa [nombre de la empresa] ha crecido hasta convertirse en uno de los líderes en
        [industria o sector]. La empresa ha sido reconocida por sus [logros y premios].
    </p>
</div>
<div class="contenedor">
    <h2>Nuestro equipo</h2>
</div>
<div class="contenedor">
    <p>
        El equipo de [nombre de la empresa] está formado por profesionales altamente cualificados con una amplia
        experiencia en [industria o sector]. El equipo está comprometido con la excelencia y está dedicado a
        proporcionar a nuestros clientes las mejores soluciones.
    </p>
</div>
<mat-grid-list cols="1" rowHeight="2:0.5">
    <mat-grid-tile>
        <ul>
            <li>
                <img src="./assets/1.png">
                <h3>[nombre del miembro del equipo]</h3>
                <p>[Título y descripción del miembro del equipo]</p>
            </li>
        </ul>
        <ul>
            <li>
                <img src="./assets/2.png">
                <h3>[nombre del miembro del equipo]</h3>
                <p>[Título y descripción del miembro del equipo]</p>
            </li>
        </ul>
        <ul>
            <li>
                <img src="./assets/3.png">
                <h3>[nombre del miembro del equipo]</h3>
                <p>[Título y descripción del miembro del equipo]</p>
            </li>
        </ul>
    </mat-grid-tile>
</mat-grid-list>
<div class="contenedor">
    <h2>Misión y visión</h2>
</div>
<div class="contenedor">
    <p>
        Nuestra misión es [misión de la empresa].
    </p>
    <p>
        Nuestra visión es [visión de la empresa].
    </p>
</div>